.tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tarjeta2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-decoration: none;
padding-bottom: 20px;
}
.Link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 3px;
    background-color: rgb(15, 110, 173);
    
}

